.App {
  padding: 100px 100px;
  height: 500px;
  width: 600px;
  background-color: aliceblue;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.btn {
  margin: 20px 0px;
  width: 100%;
  padding: 10px 20px;
  background-color: aqua;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.radio {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
 
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
td, th {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
table {
  color: #333;
  font-family: Arial, sans-serif;
}

th {
  background-color: #f2f2f2;
  color: #555;
}

